<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MEBEL</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md bg-navbar navbar-light flex-row fixed-top first-nav">
      <a class="navbar-brand mr-auto first-nav__fixed" href="#">MEBEL</a>
      <ul class="navbar-nav flex-row mr-lg-0 nav-icons first-nav__fixed">
        <li>
          <a href="./login.html">
            <i class="bi bi-person"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-heart"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-cart3"></i>
          </a>
        </li>
      </ul>
      </div>
      <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </nav>
    <nav class="navbar navbar-expand-md bg-navbar navbar-light sticky-top second-nav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./products.html">Shop All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            <ul class="small-social-list list-inline mx-auto">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-youtube"></i>
                </a>
              </li>
            </ul>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="input-control" type="text" placeholder="Search">
            <button class="btn-search" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </nav>
    <!-- 2 layers navbar end -->

    <div class="jumbotron jumbotron-fluid">
      <div class="container jumbotron-container text-center">
        <div class="jumbotron-bg-hero"></div>
        <h1 class="display-4 my-5">Explore MEBEL</h1>
        <button class="btn-custom">Shop the collection</button>
      </div>
    </div>
  </header>

  <div class="col my-7">
    <div class="row">
      <h2 class="mx-auto font-weight-bold subtitle">most popular</h2>
    </div>
    <div class="row my-3">
      <div class="mx-auto rectangle"></div>
    </div>
  </div>

  <div class="row my-7 mx-0">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <a href="./whitechair1.html" class="product-link">
          <img src="./images/diningchairs/whitechair1.jpg" alt="" class="card-img-top">
          <div class="quick-view">Quick view</div>
          <div class="card-body text-center">
            <p class="card-text">Dining White Chair</p>
            <p class="card-text">£150.00</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <a href="#" class="product-link">
          <img src="./images/armchairs/greyarmchair.jpg" alt="" class="card-img-top">
          <div class="quick-view">Quick view</div>
          <div class="card-body text-center">
            <p class="card-text">Grey Armchair</p>
            <p class="card-text">£150.00</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <a href="#" class="product-link">
          <img src="./images/diningtables/diningtable2.jpg" alt="" class="card-img-top">
          <div class="quick-view">Quick view</div>
          <div class="card-body text-center">
            <p class="card-text">Black Dining Table</p>
            <p class="card-text">£150.00</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <a href="#" class="product-link">
          <img src="./images/sofas/greensofa.jpg" alt="" class="card-img-top">
          <div class="quick-view">Quick view</div>
          <div class="card-body text-center">
            <p class="card-text">Green Sofa</p>
            <p class="card-text">£150.00</p>
          </div>
        </a>
      </div>
    </div>


  </div>


  <div class="row my-7 mx-0 order-1">
    <div class="col-lg-4 bg-custom px-0 d-flex align-items-center justify-content-center">
      <div class="container mx-3 mt-3 text-center d-flex flex-column align-items-center justify-content-center">
        <div class="hr-line"></div>
        <h3 class="font-weight-light mt-5 mb-4 l-spacing">Inspiration</h3>
        <p class="line-height">
          Some text about the best inspiring things on the website. Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
          Ea minima consequuntur dicta quidem doloribus adipisci illum quasi rerum minus architecto.
          Some text about the best inspiring things on the website.
        </p>
      </div>
    </div>
    <div class="col-lg-8 px-0 order-0">
      <div class="img-wrapper">
        <div class="overlay d-flex justify-content-center align-items-center">
          <div class="container text-center">
            <h2 class="display-4 mb-5 text-white">Selected For You</h2>
            <button class="btn-custom">Get inspired</button>
          </div>
        </div>
        <img src="./images/interior.jpg" alt="" class="inspiration-img">
      </div>
    </div>
  </div>

  <div class="row my-7 mx-0 d-flex">
    <div class="col-lg-8 px-0 order-1 order-md-0">
      <div class="img-wrapper--sale">
        <img src="./images/coffeetables/coffeetablediscount1.jpg" alt="" class="inspiration-img--sale">
      </div>
    </div>
    <div class="col-lg-4 px-0 bg-custom--dark order-2 order-md-1 d-flex align-items-center">
      <div class="container mx-auto mt-3 text-center">
        <h3 class="font-weight-light mb-4 l-spacin">End of Season Sale</h3>
        <div class="mx-auto rectangle mb-4"></div>
        <p class="line-height">All coffee tables <span class="line-height mt-4 ml-2 font-size-1 font-weight-bolder">20%
            OFF</span></p>
        <button class="btn-custom btn-custom--dark my-4 ">Shop now</button>
      </div>
    </div>
  </div>

  <div class="row bg-custom mx-0 py-4 mb-7 d-flex align-items-center">
    <div class="col-lg-7 mb-4 mb-md-0 ">
      <div class="container px-2 px-md-5">
        <h5 class="pb-3">Join our newsletter for £50 off</h5>
        <p class="line-height">We'll email you a voucher worth £50 off your first order over £200. By subscribing you
          agree to our Terms & Conditions and Privacy & Cookies Policy.</p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="input-group">
        <input type="text" class="form-control text-center" placeholder="Enter Email" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div>
    </div>
  </div>

  <div class="social-wrapper">
    <ul>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-youtube"></i>
        </a>
      </li>
    </ul>
  </div>

  <footer class="footer">
    <div class="row mx-0 mb-6 text-center">
      <div class="col-md-3 mb-5 mb-md-0">
        <a class="navbar-brand pt-0 mr-0" href="#">Mebel</a>
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <ul>
          <li>
            <h6 class="mb-4">SHOP</h6>
          </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop All</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <ul>
          <li>
            <h6 class="mb-4">POLICY</h6>
          </li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping & Returns</a></li>
          <li><a href="#">Store Policy</a></li>
          <li><a href="#">Payment Methods</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <h6 class="mb-4">CONTACT</h6>
          </li>
          <li>Tel. 0208 030 3242</li>
          <li>enquiries@mebel.co.uk</li>
        </ul>
      </div>
    </div>
    <div class="copyright-wrapper d-flex justify-content-center">
      <p class="copyright-text">Copyright &#169; The Mebel Company Ltd 2021</p>
    </div>
  </footer>
</body>

</html>