<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MEBEL</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md bg-navbar navbar-light flex-row fixed-top first-nav">
      <a class="navbar-brand mr-auto first-nav__fixed" href="#">Mebel</a>
      <ul class="navbar-nav flex-row mr-lg-0 nav-icons first-nav__fixed">
        <li>
          <a href="./login.html">
            <i class="bi bi-person"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-heart"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-cart3"></i>
          </a>
        </li>
      </ul>
      </div>
      <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </nav>
    <nav class="navbar navbar-expand-md bg-navbar navbar-light sticky-top second-nav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./products.html">Shop All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
            </li>
            <ul class="small-social-list list-inline mx-auto">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-youtube"></i>
                </a>
              </li>
            </ul>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="input-control" type="text" placeholder="Search">
            <button class="btn-search" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </nav>
    <!-- 2 layers navbar end -->

    <div class="col my-8">
      <div class="row">
        <h2 class="mx-auto font-weight-bold subtitle">Welcome to mebel.com</h2>
      </div>
      <div class="row my-3">
        <div class="mx-auto rectangle"></div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row mx-0 mb-7">
      <div class="col-md-6 px-md-7 d-flex flex-column">
        <h4 class="mb-5 font-weight-light">Sign In</h4>
        <button class="btn-login-social mb-4 py-3 px-2 px-md-5 d-flex justify-content-start"><span class="mr-5"><i
              class="bi text-white bi-google"></i></span>Sign in via Google</button>
        <button class="btn-login-social mb-4 py-3 px-2 px-md-5 d-flex justify-content-start"><span class="mr-5"><i
              class="bi text-white bi-facebook"></i></span>Sign in via Facebook</button>
        <div class="separator">
          <span class="separator-line"></span>
          <span class="separator-text">OR</span>
        </div>
        <form class="my-5">
          <div class="form-group mb-4">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control border-bottom" id="emailInput" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group mb-4">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control border-bottom" id="passwordInput">
          </div>
          <a href="#" class="d-flex justify-content-end font-size-small mb-4" data-toggle="modal" data-target="#forgottenPassword">Forgotten Passowrd?</a>
         <!-- sign in -->
          <button type="submit" class="btn btn-secondary btn-signin">Sign In</button>
        </form>
      </div>
      <div class="col-md-6 px-md-7 d-flex flex-column">
        <h4 class="mb-5 font-weight-light">Join mebel.com</h4>
        <a href="account.html" class="btn btn-secondary">Create An Account</a>
      </div>
      <!-- Modal start -->
      <div class="modal fade" id="forgottenPassword" tabindex="-1" aria-labelledby="resetPasswordModal" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="resetPasswordModal">Forgotten Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <div class="form-group w-75">
                <label for="emailInputReset">Email address</label>
                <input type="email" class="form-control border-bottom" id="emailInputReset" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset Password</button>
    
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->
    </div>
  </div>


      <!-- pop up recommendation -->
      <div class="box overflow-hidden">
        <div class="row mx-0">
            <div class="col-6 px-0">
                <div class="row mx-0 d-flex flex-column align-items-center">
                    <h6 class="mt-2 font-weight-light">Recommended for you</h6>
                    <h4 class="mt-5 font-size-medium">Brown Dining Table</h4>
                    <h5 class="mt-3 l-spacing">£150.00</h5>
                    <a href="" class="btn-custom btn-custom--dark my-4 align-self-center">Shop now</a>
                </div>
            </div>
            <div class="col-6 px-0">
                <div class="closeBtn-wrapper">
                    <i class="bi bi-x closeBtn recommendedBtn"></i>
                </div>
                <a href="">
                    <img src="./images/diningtables/diningtable1.jpg" alt="brown dining table" class="img-fit">
                </a>
            </div>
        </div>
    </div>
    <button class="recommended-btn-style recommendedBtn"><i class="bi bi-lightbulb-fill text-white"></i></button>


  <div class="row bg-custom mx-0 py-4 mb-7 d-flex align-items-center">
    <div class="col-lg-7 mb-4 mb-md-0 ">
      <div class="container px-2 px-md-5">
        <h5 class="pb-3">Join our newsletter for £50 off</h5>
        <p class="line-height">We'll email you a voucher worth £50 off your first order over £200. By subscribing you
          agree to our Terms & Conditions and Privacy & Cookies Policy.</p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="input-group">
        <input type="text" class="form-control text-center" placeholder="Enter Email" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div>
    </div>
  </div>
  <div class="social-wrapper">
    <ul>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="social-wrapper__link">
        <a href="#">
          <i class="bi bi-youtube"></i>
        </a>
      </li>
    </ul>
  </div>

  <footer class="footer">
    <div class="row mx-0 mb-6 text-center">
      <div class="col-md-3 mb-5 mb-md-0">
        <a class="navbar-brand pt-0 mr-0" href="#">Mebel</a>
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <ul>
          <li>
            <h6 class="mb-4">SHOP</h6>
          </li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop All</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5 mb-md-0">
        <ul>
          <li>
            <h6 class="mb-4">POLICY</h6>
          </li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping & Returns</a></li>
          <li><a href="#">Store Policy</a></li>
          <li><a href="#">Payment Methods</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <h6 class="mb-4">CONTACT</h6>
          </li>
          <li>Tel. 0208 030 3242</li>
          <li>enquiries@mebel.co.uk</li>
        </ul>
      </div>
    </div>
    <div class="copyright-wrapper d-flex justify-content-center">
      <p class="copyright-text">Copyright &#169; The Mebel Company Ltd 2021</p>
    </div>
  </footer>
</body>

</html>